.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
}

.modal .modal-frame {
  max-width: 600px;
  margin: 0 auto;
}

.modal .modal-border {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1rem;
  overflow: hidden;
}

.modal .modal-header {
  background: gold;
  text-align: right;
  padding: 0.3rem;
}

.modal .modal-content {
  padding: 1rem;
  min-height: 100px;
  max-height: calc(100vh - 5rem);
  max-height: 90vh;
  overflow-y: scroll;
}

/* Disable scroll */
body.modal-open {
  overflow: hidden;
}
