.prompt {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(255, 255, 255, 0.9);
}

.prompt .prompt-frame {
  max-width: 600px;
  margin: 0 auto;
}

.prompt .prompt-border {
  background: #fff;
  border: 1px solid #ccc;
  margin: 1rem;
  overflow: hidden;
}

.prompt .prompt-header {
  background: #dfdfdf;
  color: #fff;
  text-align: right;
  padding: 0.3rem;
}

.prompt .prompt-content {
  padding: 1rem;
  min-height: 100px;
  max-height: calc(100vh - 5rem);
  max-height: 90vh;
  overflow-y: scroll;
}

.prompt-layout {
  display: none;
}

/* Disable scroll */
body.prompt-open {
  overflow: hidden;
}
